{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      olá {{ usuario.funcionario.nome }}
        <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a> <br>
        <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a> <br>
        <a href="{% url 'list_horaextra' %}">Gerenciar Banco de Horas</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Sair</a>

        {% if usuario.funcionario.empresa %}
          <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
        {% else %}
          <a href="{% url 'create_empresa' %}">Criar empresa</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}